<!DOCTYPE html>
<html>
<head>
  <title>Scrumble</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/base.css">
</head>
<style type="text/css">
  img{
    width: 300px;
    margin: 0 auto;
  }
  input, select{
    width: 100%;
    float: left;
    clear: both;
  }
  label{
    width: 100%;
    text-align: left !important;
  }
  .clear{
    clear: both;
  }
  h4.span-12, p.span-12{
    text-align: left;
  }
  p{
    font-size: 14px;
    text-transform: none;
  }
  input, select{
    font-size: 15px;
  }
  .required{
    color: red;
  }
</style>
  <body ng-app="directoryApp">
  <div ng-controller="ListingsController" data-ng-init="checkGoogle()">
  <div class="row ">
        <div class="container main-page">
          <div style="width: 100%">
          <img src = "https://i.ibb.co/ZKVGWpD/scrumblelogo-Final.png" style="text-align: center; display: inherit;">
        </div>
          <h1> Sign Up </h1>
  <form>
      <div ng-if="errors.length > 0" style=" width: 100%;">
      <p style=" font-family: Arial">Oops! Something went wrong.</p>
        <p ng-repeat="error in errors" style=" font-family: Arial">{{error}}</p>
    </div>
    <h4 class="span-12 omega">Scrumble Information</h4>
    <p class="span-12 omega">Required fields are indicated by (<span  class="required">*</span>).</p>
<div class="clear">
<div class="span-4 oemga">
  <label > Username <span  class="required">*</span></label>
  <br>
<input type="text" name="password" id="password" required aria-required="true"  ng-model="newProfile.username">
</div>
</div>
<h4 class="span-12 omega">Personal Information</h4>
<div class="clear">
<div class="span-4">
  <label > Age <span  class="required">*</span></label>
  <br>
<input type="number" name="age" id="age" required aria-required="true"  ng-model="newProfile.age">
</div>
<div class="span-4">
  <label > Gender <span  class="required">*</span></label>
  <br>
  <select id = "gender" name = "gender" required aria-required="true" ng-model="newProfile.gender">
  <option value="Male">Male</option>
  <option value="Female">Female</option>
  <option value="Non-binary"> Non-binary </option>
  <option value="I prefer not to answer">I prefer not to answer</option>
  </select>
</div>

  <div class="span-4 omega">
  <label > Ethnicity/Race <span  class="required">*</span></label>
  <br>
  <select id = "demographic" name = "demographic" required aria-required="true" ng-model="newProfile.ethnicity">
  <option value="Native American">Native American</option>
  <option value="African American">African American</option>
  <option value="Middle Eastern">Middle Eastern</option>
  <option value="Asian">Asian</option>
  <option value="Hispanic">Hispanic</option>
  <option value="European">European</option>
  <option value="White">White American</option>
  <option value="Eurasian">Eurasian</option>
  <option value="Other">Other</option>
  <option value="I prefer not to answer">I prefer not to answer</option>
  </select>
</div>
</div>
<div class="clear">
  <button ng-click="googleRegister()"> Submit</button>
</div>
</form>
</div>
</div>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/listingFactory.js"></script>
    <script src="js/controllers/listingController.js"></script>


</body>
</html>
