<!DOCTYPE html>
<html>
<head>
  <title>Scrumble</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
	<link rel="stylesheet" type="text/css" href="styles/base.css">
  <link rel="stylesheet" href="styles/menu.css">
  <link rel="stylesheet" href="styles/style2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/listingFactory.js"></script>
    <script src="js/controllers/listingController.js"></script>
</head>
<style type="text/css">
  .texts label{
    text-align: left !important;
    width: 100%;
  }
  textarea{
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  }
  input,textarea,select{
    font-size: 13px;
  }
  select, input[type="text"]{
    width: 100%;
  }
  h4{
    width: 100%;
    text-align: left;
  }
  .span-12 button{
    float: right;
    clear: both;
  }
  img{
    width: 100%;
  }
</style>
 <body ng-app="directoryApp">
  <div ng-controller="ListingsController" data-ng-init="profileLoad()">
  <div class="row ">
    <div class="subnav" id="customNav">
      <a href="/dashboard" class="home">Home Page</a>
      <a href= "/profile" class="active"> Profile </a>
      <a href= "/mentors"> Find Mentors </a>
      <a href= "/mentees"> Mentee Requests </a>
      <a href= "/matches"> Mentor Matches </a>
      <a href= "/logout"> Log Out </a>
	  <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
    </div>
    <div class="container main-page">
  <form style = "margin-top: 10px; margin-left: 20px;">

<h1>Edit Your Profile</h1>
<div class="span-12 omega" style="margin: 0; padding: 0;">
<button ng-click="profileUpdate()"> Update </button>
</div>
<div class = "span-4" style="text-align: left !important">
<img src = "https://i.ibb.co/ZKVGWpD/scrumblelogo-Final.png">
</div>

<div class= "span-4 texts">
  <h4> Personal Information</h4>
  <div>
  <p>
    <label class="bold">
     Age
    </label>
  </p>
  <input type="text" name="location" ng-init="userProfile.age" ng-model="userProfile.age">
</div>
  <div>
  <p>
    <label class="bold">
     Gender
    </label>
  </p>
   <select ng-model="userProfile.gender">
  <option selected disabled> </option>
  <option value="Male">Male</option>
  <option value="Female">Female</option>
  <option value="Non-binary"> Non-binary </option>
  <option value="I prefer not to answer">I prefer not to answer</option>
  </select>
</div>
  <div>
  <p>
    <label class="bold">
     Ethnicity
    </label>
  </p>
  <select ng-model="userProfile.ethnicity">
  <option value="Native American" ng-selected="userProfile.ethnicity == 'Native American'">Native American</option>
  <option value="African American" ng-selected="userProfile.ethnicity == 'African American'">African American</option>
  <option value="Middle Eastern" ng-selected="userProfile.ethnicity == 'Middle Eastern'">Middle Eastern</option>
  <option value="Asian" ng-selected="userProfile.ethnicity == 'Asian'">Asian</option>
  <option value="Hispanic" ng-selected="userProfile.ethnicity == 'Hispanic'">Hispanic</option>
  <option value="European" ng-selected="userProfile.ethnicity == 'European'">European</option>
  <option value="White" ng-selected="userProfile.ethnicity == 'White American'">White American</option>
  <option value="Eurasian" ng-selected="userProfile.ethnicity == 'Eurasian'">Eurasian</option>
  <option value="Other" ng-selected="userProfile.ethnicity == 'Other'">Other</option>
  <option value="I prefer not to answer" ng-selected="userProfile.ethnicity == 'I prefer not to answer'">I prefer not to answer</option>
  </select>
</div>
</div>
  <div class="span-4 omega">
     <h4>Scrumble Settings</h4>
  <div>
 <p style="padding-right: 10px;">
  <label class="bold">
   Are you available?
 </label>
   </p>
   <label class="checkboxContainer" style="font-size:14px !important">Yes
 <input type="radio" name="mentor" ng-model="userProfile.available" value="true" ng-value="true">
 <span class="checkmark" style="left: 35px !important";></span>
</label>
 <label class="checkboxContainer" style="font-size:14px !important">No
 <input type="radio" name="mentee"ng-model="userProfile.available" value="false" ng-value="false">
 <span class="checkmark" style="left: 35px !important";></span>
</div>

<div>
 <p style="padding-right: 10px;">
  <label class="bold">
   I am a
 </label>
   </p>
   <label class="checkboxContainer" style="font-size:14px !important">Mentor
 <input type="checkbox" name="mentor" value="Mentor" value="true" ng-model="userProfile.usertype.mentor" ng-checked="userProfile.usertype.mentor">
 <span class="checkmark" style="left: 35px !important";></span>
</label>
 <label class="checkboxContainer" style="font-size:14px !important">Mentee
 <input type="checkbox" name="mentee" value="Mentee" value="true" ng-model="userProfile.usertype.mentee" ng-checked="userProfile.usertype.mentee">
 <span class="checkmark" style="left: 35px !important";></span>
</label>
</div>
</div>

<h4 class="span-12 omega">Scrumble Information</h4>
<div class="span-12 omega texts">
<div class="span-3">
  <div>
    <p>
      <label class="bold">
      What Area Would You Like to Be Mentored In?
    </label>
   </p>
 <select ng-model="userProfile.mentee_topic">
  <option value="Biology" ng-selected="userProfile.mentee_topic == 'Biology'">Biology</option>
  <option value="Physics" ng-selected="userProfile.mentee_topic == 'Physics'">Physics</option>
  <option value="Computer Science" ng-selected="userProfile.mentee_topic == 'Computer Science'">Computer Science</option>
  <option value="Chemistry" ng-selected="userProfile.mentee_topic == 'Chemistry'">Chemistry</option>
  <option value="Business" ng-selected="userProfile.mentee_topic == 'Business'">Business</option>
  <option value="Professional Writing" ng-selected="userProfile.mentee_topic == 'Professional Writing'">Professional Writing</option>
  <option value="Psychology" ng-selected="userProfile.mentee_topic == 'Pyschology'">Psychology</option>
</select>
  </div>
</div>
<div class="span-3">
  <div>
    <p>
      <label class="bold">
        What Area Would You Like to Mentor?
      </label>
     </p>
   <select ng-model="userProfile.mentor_topic">
  <option value="Biology" ng-selected="userProfile.mentor_topic == 'Biology'">Biology</option>
  <option value="Physics" ng-selected="userProfile.mentor_topic == 'Physics'">Physics</option>
  <option value="Computer Science" ng-selected="userProfile.mentor_topic == 'Computer Science'">Computer Science</option>
  <option value="Chemistry" ng-selected="userProfile.mentor_topic == 'Chemistry'">Chemistry</option>
  <option value="Business" ng-selected="userProfile.mentor_topic == 'Business'">Business</option>
  <option value="Professional Writing" ng-selected="userProfile.mentor_topic == 'Professional Writing'">Professional Writing</option>
  <option value="Psychology" ng-selected="userProfile.mentor_topic == 'Pyschology'">Psychology</option>
</select>
  </div>
</div>

<div class= "span-3" style="text-align:left !important">
<div>
  <p>
    <label class="bold">
      Which University Have You Attended?
    </label>
   </p>
  <select  ng-model="userProfile.university">
  <option value="University of Florida" ng-selected="userProfile.university == 'University of Florida'">University of Florida</option>
  <option value="Santa Fe College" ng-selected="userProfile.university == 'Santa Fe College'">Santa Fe College</option>
  <option value="University of Central Florida" ng-selected="userProfile.university == 'University of Central Florida'">University of Central Florida</option>
  <option value="Florida State University" ng-selected="userProfile.university == 'Florida State University'">Florida State University</option>
  <option value="University of Miami" ng-selected="userProfile.university == 'University of Miami'">University of Miami</option>
</select>
</div>
</div>

<div class= "span-3 omega" style="text-align:left !important">
<div>
  <p>
    <label class="bold">
      What City Are You In?
    </label>
  </p>
  <input type="text" name="location" ng-init="userProfile.city" ng-model="userProfile.city">
</div>
</div>
</div>

<div class= "span-6" style="text-align:left !important">
<div>
 <p style="padding-right: 10px;">
   <label class="bold">
     How Would You Like to Meet?
   </label>
  </p>
  <label class="checkboxContainer" style="left: 30px; font-size:14px !important";>
    <input type="checkbox" name="communication[]" value="In Person" ng-click="addComm('In Person')" ng-checked="comm.indexOf('In Person')>-1">In Person
<span class="checkmark" style="left: -30px !important";></span>
  </label>
  <label class="checkboxContainer" style="left: 30px; font-size:14px !important";>Video Call
    <input type="checkbox" name="communication[]" value="Video Call" ng-click="addComm('Video Call')" ng-checked="comm.indexOf('Video Call')>-1">
<span class="checkmark" style="left: -30px !important";></span>
  </label>
  <label class="checkboxContainer" style="left: 30px; font-size:14px !important";>Phone Call
    <input type="checkbox" name="communication[]" value="Phone Call" ng-click="addComm('Phone Call')" ng-checked="comm.indexOf('Phone Call')>-1">
<span class="checkmark" style="left: -30px !important";></span>
  </label>
  <label class="checkboxContainer" style="left: 30px; font-size:14px !important";>Text Message
    <input type="checkbox" value="Text Message" ng-click="addComm('Text Message')" ng-checked="comm.indexOf('Text Message')>-1">
<span class="checkmark" style="left: -30px !important";></span>
  </label>
  <label class="checkboxContainer" style="left: 30px; font-size:14px !important";>Email
    <input type="checkbox" name="communication[]" value="Email" ng-click="addComm('Email')" ng-checked="comm.indexOf('Email')>-1">
<span class="checkmark" style="left: -30px !important";></span>
  </label>
</div>
</div>

<div class= "span-6 omega" style="text-align:left !important";>
<div>
 <p style="padding-right: 10px;">
   <label class="bold">
     When Are You Normally Available?
   </label>
 </p>
 <label class="checkboxContainer" style="left:30px; font-size:14px !important">Early Morning
   <input type="checkbox" value="Early Morning" ng-click="addTime('Early Morning')" ng-checked="time.indexOf('Early Morning')>-1">
<span class="checkmark" style="left: -30px !important"></span>
 </label>
<label class="checkboxContainer" style="left:30px; font-size:14px !important">Late Morning
  <input type="checkbox" value="Late Morning" ng-click="addTime('Late Morning')" ng-checked="time.indexOf('Late Morning')>-1">
<span class="checkmark" style="left: -30px !important"></span>
</label>
<label class="checkboxContainer" style="left:30px; font-size:14px !important">Early Afternoon
  <input type="checkbox" value="Early Afternoon" ng-click="addTime('Early Afternoon')" ng-checked="time.indexOf('Early Afternoon')>-1">
<span class="checkmark" style="left: -30px !important"></span>
</label>
<label class="checkboxContainer" style="left:30px; font-size:14px !important">Late Afternoon
  <input type="checkbox" nvalue="Late Afternoon" ng-click="addTime('Late Afternoon')" ng-checked="time.indexOf('Late Afternoon')>-1">
  <span class="checkmark" style="left:-30px !important"></span>
</label>
<label class="checkboxContainer" style="left:30px; font-size:14px !important">Early Evening
  <input type="checkbox" value="Early Evening" ng-click="addTime('Early Evening')" ng-checked="time.indexOf('Early Evening')>-1">
<span class="checkmark" style="left: -30px !important"></span>
</label>
<label class="checkboxContainer" style="left:30px; font-size:14px !important">Late Evening
  <input type="checkbox" ng-click="addTime('Late Evening')" ng-checked="time.indexOf('Late Evening')>-1">
<span class="checkmark" style="left: -30px !important"></span>
</label>
</div>
</div>
<div class="span-12 omega texts" >
  <label class="bold">
  Goals For Scrumble:
</label>
<div>
 <textarea name="about"  ng-model="userProfile.scrumble_goals"></textarea>
</div>
<br>

<label class="bold">
Career Goals:
</label>
<div>
<textarea name="careerGoals" ng-model="userProfile.career_goals"></textarea>
</div>
<br>

<label class="bold">
Industry Experiences:
</label>
<div>
<textarea name="experiences" ng-model="userProfile.industry_exp"></textarea>
</div>
<br>

<label class="bold">
Strengths in Field of Interest:
</label>
<div>
<textarea name="strengths" ng-model="userProfile.strengths"></textarea>
</div>
<br>

<label class="bold">
Current Occupation:
</label>
<div>
<textarea name="currentJob"  ng-model="userProfile.occupation"></textarea>
</div>
<br>

<label class="bold">
Anything Interesting You Would Like to Add:
</label>
<div>
<textarea name="miscellaneous" ng-model="userProfile.add_info"></textarea>
</div>
<div>
<button ng-click="profileUpdate()"> Update </button>
</div>
</div>

</form>
</div>
</div>
<script>
function myFunction() {
  var x = document.getElementById("customNav");
  if (x.className === "subnav") {
    x.className += " responsive";
  } else {
    x.className = "subnav";
  }
}
</script>
</div> <!--/.App-->
</body>
</html>